<?xml version="1.0" encoding="UTF-8"?>
<module id="191" version="2021051700">
  <modulename>url</modulename>
  <sectionid>41881</sectionid>
  <sectionnumber>2</sectionnumber>
  <idnumber></idnumber>
  <added>1474366022</added>
  <score>0</score>
  <indent>2</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <tags>
  </tags>
</module>